.niveau{
    text-align: center;
}
.matieres{
    width: 80%;
    margin: auto;
    display: inline-grid;
    grid-template-columns: auto auto auto ;
    grid-gap:5px;
}
#modulejpg{
    height:150px;
    width: 80%;
    border-radius:4px;
    transition-duration: 1s;
    margin-top: 2%;
}
#modulejpg:hover{
  transform: scale(1.1);
  transition-duration: 1s;
}
#module{
    border-radius: 2px;
    border: 1px solid #7d8588;
    padding: 6px;
    font-size: 100%;
    text-align: center;
}
#module-btn{
    color:white;
    height: 30px;
    background-color: #123456;
    border:none;
    border-radius:4px;
    width:60%;
    margin-top:10px;
}
#moduletitle{
    color: cadetblue;
    margin-top:15px;
}
.lescoursdemodule1{
    display: none;
    grid-template-columns: auto auto  ;
    padding: 0px;
    width: 100%;
    height: 100%;
    grid-gap:15px;
    margin: auto;
    margin-top: 1%;
}
.cours{
    background-color: #d3d9e0;
    border-radius: 5px;
    padding: 1%;
}
.cours button{
    background-color: #123456;
    border:none;
    border-radius: 4px;
    width: 20%;
    height: 30px;
    color:white;
    font-size: 100%;
    font-weight: bold;
    margin-left: 6px;
}
.cours p,.cours p,.cours button,.cours a{
    margin-top: 10px;
}
a{
    text-decoration: none;
}
.rtr-btn{
    width: 60px;
    height: 35px;
    margin-left: 2%;
    margin-bottom: 2%;
    background-color: #112233;
    font-size: 23px;
    padding:1px;
    font-variant-ligatures: ;
}
#rtr-btn5{
    position: absolute;
    left:0;
}
#courspdf{
    display: none;
    border: none;
    margin-top: 10px;
    width: auto;
}
#mod1,#mod2,#mod3,#mod4,#mod5{
    display: none;
    width: 80%;
    
}
#smstr_entete{
    font-size: 35px;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 1%;
    background:#123456;
    color: white;
    border-radius: 2px;
    height: auto;
}
.inscrirePourLangage{
    width: 40%;
    margin:auto;
    padding: 3%;
    margin-top: 50px;
    border-radius: 2px;
}
.inscrirePourLangage input[type=text],.inscrirePourLangage input[type=email]{
    width:100%;
    height: 30px;
    border-radius: 2px;
    border: none;
    padding-left: 10px;
}
.inscrirePourLangage input[type=submit],#annuler_sabboner{
    width: 50%;
    height: 37px;
    background: #123456;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}
.inscrirePourLangage input:focus{
    background: #F5FBEF;
}
.inscrirePourLangage label{
    font-weight: bold;
}
#annuler_sabboner{
    background: rgb(122, 26, 26);
    width: 23%;
    font-size: 100%;
    padding-bottom: 2%;
}
#_avis_{
    background: #123456;
    height: 50px;
}
#avis_message{
    width:100%;
    border: none;
    border-radius: 2px;
    padding: 2%;
    margin-bottom: 2%;
}
@media (max-width:375px){
    .lescoursdemodule1{
        display: none;
        width: 100%;
        grid-gap:5px;
        margin-top: 10px;
        grid-template-columns:none;
        margin: 0px;
        padding: 0px;
    }
    .matieres{
        width: 100%;
        margin: auto;
        display: inline-grid;
        grid-template-columns: none ;
        grid-gap:4px;
    }
    #module{
        height: auto;
        border-radius: 0px;
        border: 1px solid #123456;
        padding: 1%;
        font-size: 80%;
        text-align: center;
    }
    .cours{
        border-radius: 0px;
        padding: 2%;
    }
    #smstr_entete{
        grid-column-start: 1;
        grid-column-end: 1;
        margin-bottom: 5%;
    }

}
@media (max-width:773px){
    .lescoursdemodule1{
        display: none;
        width: 100%;
        grid-gap:5px;
        margin-top: 10px;
        grid-template-columns: none;
        margin: 0px;
        padding: 0px;
    }
    .matieres{
        width: 100%;
        margin: auto;
        display: inline-grid;
        grid-template-columns: none ;
        grid-gap:4px;
    }
    #module{

        height: auto;
        border-radius: 0px;
        border: 1px solid #123456;
        padding: 1%;
        font-size: 80%;
        text-align: center;
    }
    .cours{
        border-radius: 0px;
        padding: 2%;
    }
    #pdfhere{
        width: 100%;
    }
    #pdfhere{
        width:100%;
        justify-self: center;
    }
    #smstr_entete{
        grid-column-start: 1;
        grid-column-end: 2;
        margin-bottom: 5%;
    }
    #avis_form{
        height: 20%;
        background: #000000;
        width: 100%;
        color: white;
    }
    @media (min-width:545px){
        .matieres{
            width: 100%;
            margin: auto;
            display: inline-grid;
            grid-template-columns: auto auto ;
            grid-gap:6px;
        }
        #module{
            border-radius: 5px;
        }
        .lescoursdemodule1{
            display: none;
            width: 100%;
            grid-gap:5px;
            margin-top: 10px;
            grid-template-columns: auto auto;
            margin: 0px;
            padding: 0px;
        }
        #smstr_entete{
            grid-column-start: 1;
            grid-column-end: 3;
            margin-bottom: 5%;
        }
    }
    #mod1, #mod2, #mod3, #mod4, #mod5 {
        width: 100%;
    }

}

@media (min-width:543px) and (max-width:773px){
    .cours{
        border-radius: 5px;
        padding: 1%;
        width:100%;
    }
}
