
* {
  margin: 0;
  padding: 0;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "sans-serif";
  box-sizing: border-box;
}
button:hover {
  opacity: 0.8;
}
#sidemenu {
  border: none;
  background: none;
  text-align: center;
  color:#123456;
  font-size: 50px; 
margin-top: 17px;
}
header {
  background-color: white;
  height: 90px;
  margin-top: 0;
  border-bottom: 2px solid #123456;
  top: 0;
  position: sticky;
  z-index: 10000;
  width: 100%;
}

#logo {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: 1px solid #123456;
}
#drop-menu {
  height: 35px;
  width: 35px;
  border-radius: 10px;
}
.monnavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 2%;
  margin-right: 2%;
}

.monnavbar li {
  float: left;
}
#search_bar {
  float: right;
  display: flex;
  padding-top: 30px;
  margin-right: 3%;
  
}
#search {
  height: 30px;
}
#isearch {
  height: 31px;
  border: 0.5px solid;
  border-color: #123456;
  border-radius: 2.5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 200px;
  float: left;
  padding-left: 5%;
}
button {
  outline: none;
}
#login-btn,
#sign-btn {
  background-color: #123456;
  height: 30px;
  width: 80px;
  font-size: 90%;
  border: none;
  border-radius: 3px;
  border-color: #123456;
  text-align: center;
  color: white;
  margin-left: 8px;
}
#sign-btn{
  margin-left:0px;
}
.monnavbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#nav_links {
  margin-top: 16px;
  margin-left: 7px;
  font-size: 16px;
}
#nav_links:focus {
  background-color: #123456;
}
#nav_links a {
  color: #123456;
}
#nav_links a:active {
  background: #112233;
}
#nav_links a:hover {
  color: white;
  background: #123456;
}
/* Dropdown Button */
.dropbtn {
  background-color: #123456;
  color: white;
  padding: 16px;
  font-size: 22px;
  border: none;
  width: 100%;
  text-align: start;
  padding-left: 30px;
}

/* Le conteneur <div> - nécessaire pour positionner le contenu du menu déroulant */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Contenu du Dropdown (caché par défaut) */
.dropdown-content {
  display: none;
  overflow: auto;
  position: relative;
  background-color: #112233;
  min-width: 160px;
  z-index: 0;
}

/* Liens dans la liste déroulante */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Changer la couleur des liens déroulants au survol */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Afficher le menu déroulant en survolant */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Changer la couleur de fond du bouton de la liste déroulante lorsque le contenu de la liste déroulante est affiché */
.dropdown:hover .dropbtn {
  color: white;
}
.smstr_{
  display: none;
  padding-left: 20%;
}
.search_form {
  float: right;
  padding: 30px;
}
#login {
  background-color: rgb(42, 93, 141);
  height: 30px;
  color: white;
  font-size: 16px;
  border: 1px groove #112233;
  border-radius: 12%;
}
main {
  top: 100px;
}
header + main {
  padding-top: 102px;
}
.contenu_principal {
  margin: 2%;
  margin-bottom:1% ;
  padding-top: 60px;
  background: url(../src/contenu_p1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  text-align: start;
  padding: 5%;
  padding-left: 1%;
  width: auto;
  height: auto;
}
.slides p {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  line-height: 2;
  color: white;
}
.slides h1 ,.slides h2,h4{
  color: #123456;
}
.slides > button {
  width: 300px;
  height: 50px;
  margin-left: 40%;
  margin-top: 60px;
  justify-self: center;
  background-color: #123456;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  text-align: center;
}
.slides {
  height: auto;
  padding-left: 2%;
}
#site_name{
  font-weight: bolder;
  margin: 5%;
}

.site_objectif{
  font-size: 23px;
  width: 50%;
  padding-left: 2%;
  color: #123456;
}
.presentation_de_sujet{
  height:20%;
  width: 96%;
  margin:auto;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 40% auto;
  grid-gap: 3%;
  background: #e8eae6;
  border:1px solid #88d1e7;
  border-radius:3px;
}
#presente_img{
  height: 100%;
  width: 100%;
}
#present_texte{
  padding: 8%;
  height: auto;

}
#present_texte button{
  margin-top: 6%;
  width: 50%;
  margin-left: 25%;
}
#present_texte p{
  line-height: 1.5;
  font-size:180%;
  margin-top: 3%;
}
#present_texte h2{
  color: #34556b;
  
}
footer {
  background: #112233;
  height: auto;
  margin-top: 8%;
  padding-bottom: 40px;
}
.footer_newsletter {
  background-color: #123456;
  height: 200px;
  text-align: center;
  padding-top: 2%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 1.5%;
}
#news_email{
  background: #000;
}
.footer_newsletter input {
  margin-right: 0;
  border: none;
  outline: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: rgb(36, 33, 44);
}
input {
  outline: none;
  padding-left: 13px;
}
.footer_newsletter button {
  background:#112233;
  color: #f2f2f2;
  width: auto;
  border-radius: 0px;
  padding: 0;
}
.footer_newsletter #acc-search{
  width: 50%;
  border-radius: 5px;
  display: inline-grid;
  grid-template-columns: auto 120px;
  background-color: white;
  margin-left: 0;
  text-align: start;
  margin-left: 0px;
  margin-top: 30px;
}
.footer_links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#logof {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: 30px;
  border: 5px solid #123456;
}
.footer_links ul {
  width: 100%;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 40px;
  margin-right: 14%;
  color: white;
}
.footer_links ul li {
  color:white;
}
#he_ {
  border-bottom: 3px solid rgb(223, 219, 219);
}
#footer_contact {
  width: 20%;
}
#footer_contact li{
  margin-top: 8px;
}
/* Css Pour la page contactez-nous */
#footer_contact li a{
  text-decoration: none;
  color: white;
}
.contact_div {
  align-items: center;
}
.contact_div h1 {
  text-align: center;
  margin-top: 40px;
  color: rgb(54, 48, 48);
}
.contact {
  width: 60%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40px;
  margin-left: 20%;
  margin-bottom: 2%;
  margin-top: 3%;
}
#fname,
#lname {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#enrgistrer {
  width: 100%;
  background-color: rgb(138, 139, 138);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
#enrgistrer:hover {
  background-color: #123456;
}

#message_c {
  width: 100%;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 4px;
  height: 120px;
  box-sizing: border-box;
}
.slides {
  width: 60%;
  height: 100%;
}

/* Page de soutien */
.contenu_principal_ps {
  height: 600px;
}
.sidebar {
  height: auto; /* 100% Full-height */
  width: 0;
   /* 0 width - change this with JavaScript */
  position: fixed; /* Rester en son position */
  z-index: 1; /* Stay on top */
  top: 90px;
  left: 2%;
  background-color: #123456; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* Lorsque vous passez la souris sur les liens de navigation, changez leur couleur */
.sidebar a:hover {
  color: white;
  background-color: rgb(3, 3, 129);
}

/* Lorsque vous passez la souris sur les liens de navigation, changez leur couleur */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-align: center;
  padding-left: 10px;
  padding-top: 5px;
}

/* Le bouton utilisé pour ouvrir la barre latérale */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
#loginInput,
#id02 input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Définir un style pour tous les boutons */
#Lginbutton,
.cancelbtn,
#signupbutton {
  background-color: #123456;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#Lginbutton:hover {
  opacity: 0.8;
}

/* Styles supplémentaires pour le bouton d'annulation */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color:rgb(122, 26, 26);
  font-weight: bold;
}
/* Centrer l'image et positionner le bouton de fermeture */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
/* le Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  border-radius: 5px;
  min-width: 60%;
  max-width: 500px;
  height: 100%;
}
.modal img {
  width: 80px;
  height: 80px;
}

/* Le bouton de fermeture (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:#123456;
  cursor: pointer;
}

/* Ajouter une animation de zoom */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
  
}

/* Changement de style pour la portée et le bouton d'annulation sur les écrans extra-petits */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
    border: 4px;
  }
}
#uname_mess {
  color: #123456;
}
.fa-facebook {
  background: #3b5998;
  height: 30px;
  width: 30px;
  text-align: center;
  color: white;
  font-size: 25px;
}
button {
  border: none;
  border-radius: 3px;
  background-color: #123456;
  color: white;
  font-size: 100%;
  padding: 1%;
}
#search-btn{ 
  background: #123456;
  color: #f2f2f2;
  float: right;
  margin-left: 0;
  margin-right: 16px;
  border: none;
  width: 40px;
  height: 31px;
  align-content: center;
  align-items: center;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 20px;
}
.acceuil-search {
  display: inline-grid;
  background-color: white;
  width: 80%;
  grid-template-columns: auto 60px;
  margin-left: 5%;
  border-radius: 3px;
  text-align: start;
  margin-left: 0px;
  margin-top: 5%;
  height: 35px;
}
#isearch_acc {
  padding: 6px 12px;
  border: 0.5px solid #123456;
  padding-right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#button-cours {
  background: #14213d;
  color: #f2f2f2;
  border: none;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}
#social_media {
  width: auto;
}
#social_media li a {
  height: 25px;
  width: 25px;
  font-size: 100%;
  border-radius: 50%;
  text-align: center;
  padding-top: 7px;
  box-sizing: border-box;
  color: #ffffff;
  background: none;
  text-decoration: none;
}
@media (max-width: 773px) {
  footer{
    align-content: center;
  }
  footer h2{
    text-align: center;
  }
  .footer_links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
  }
  .footer_newsletter #acc-search{
    width: 80%;
  }
  .footer_links ul {
    width: 100%;
    float: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
    text-align: center;
  }
  #logof {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-left: 0%;
    border: 5px solid #123456;
  }
  #footer_contact{
    width: 100%;
  }
  header {
    height: auto;
    margin-top: 0;
    border-bottom: 2px solid #123456;
  }
  #logo {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 17%;
    right: 5%;
  }
  .monnavbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 0px;
  }
  .monnavbar li {
    float: none;
  }
  #search_bar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 5px;
    width: 100%;
    margin-left: 0px;
    padding: 1%;
  }
  #login-btn,
#sign-btn {
  background-color: #123456;
  height: 30px;
  width:auto;
  font-size: 90%;
  border: none;
  border-radius: 3px;
  border-color: #123456;
  text-align: start;
  color: white;
  margin-left: 4px;
}
#search_bar {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-top: 0px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
#search {
  height: 20px;
}
#isearch {
  height: 31px;
  border: 0.5px solid;
  border-color: #123456;
  width: 50%;
  float: left;
  padding-left: 2px;
}
#sign-btn{
  background-color: #123456;
  height: 30px;
  width: auto;
  border: none;
  border-radius: 3px;
  border-color: #123456;
  text-align: center;
  color: white;
  margin-left: 0px;
}
.sidebar {
  top: 80px;
  left: 0;
  
}
.presentation_de_sujet{
  height:1280px;
  width: 100%;
  margin:auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: none;
  grid-gap: 3%;
  background: #e8eae6;
  border-radius:3px;
}
.contenu_principal{
  height: auto;
  background-image: url(../src/Contenu_p_bg_phone.svg);
  background-size: cover;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  padding:2%;
}
#present_texte{
  padding: 1%;
  height: auto;

}
#present_texte p{
  font-size: 130%;
}
#present_texte button{
  margin-top: 18px;
  width: 50%;
  margin-left: 25%;
}
#present_texte h2{
  margin-top: 0;
}
.site_objectif{
  width: auto;
  padding:1%;
}
#sidemenu{
  font-size: 41px;
}
.footer_newsletter #acc-search{
  width: 80%;
}
}
#ec{
  color: White;
  font-size: 50px;
}
a:hover{
  color: skyblue;
}