.contenu_principal_s{
    background-image: url('../src/soutien3.jpg');
    /* background-position: right bottom, left top; */
    background-size: cover;
    background-repeat: no-repeat;
    width:93%;
    margin:auto;
    margin-top:4% ;
    border-radius: 2px;
    /* opacity: .4; */
}

.descrip{
    padding: 5%;
    text-align: center;
    /* color:; */
    width: 55%;
    margin: auto;
    color: #ffffff;

}

.descrip p,.descrip h1,.descrip button{
    margin-top: 5%;
}
.descrip button{
    width: 50%;
    height: 50px;
}
.descrip p{
    font-size: 25px;
    font-weight: bold;
    line-height: 2;
}
.descrip h1{
    /* color: rgb(131, 131, 240); */
}

.inscrire_form{
    width: 85%;
    display: none;
    margin:auto;
    text-align: center;
    background: rgb(109, 109, 105);
    padding: 5%;
    border-radius: 3px;
}
#ilham{
    width: 50%;
    border: none;
    border-bottom: 2px solid #553041;
    height: 40px;
    border-radius: 3px;
}
.inscrire_form input[type="submit"]{
    width: 40%;
    height: 40px;
}
@media (max-width:400px){
    .contenu_principal_s{
        width: 100%;
        border-radius: 0;
    }
    .descrip{
        padding: 2%;
        text-align: start;
        /* color:; */
        width: auto;
        margin: auto;
        color: #ffffff;
    
    }
    .descrip button{
        height: 33px;
    }
    .inscr
}